@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('Inter-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('Inter-SemiBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('Inter-SemiBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('Inter-Bold.woff2') format('woff2');
  font-display: swap;
}

body, * {
  font-family: 'Inter', 'Segoe UI', sans-serif;
}
